* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  cursor: default;
}

#body {
  background: var(--background-color);
  color: var(--text-color);
}

.text-page {
  margin: 1rem 3rem;
}
.centerHeading {
  color: var(--text-color);
  text-align: center;
  margin: 1rem 0;
}
.centerSubtitle {
  color: var(--text-color);
  text-align: center;
  margin: 0 0 1rem 0;                                                                                                                                                                           
  font-size: 10px;
}
.centerContainer {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
#smallScreen {
  display: none;
}


@media only screen and (max-width: 480px) {
  main {
    opacity: 0;
  }
  #smallScreen {
    display: block;
  }
}

/* Themes */
.light {
  --text-color: #000;
  --background-color: #FFF;
  --secondary-color: #EEE;
}
.dark {
  --text-color: #FFF;
  --background-color: #000;
  --secondary-color: #4B4B4B;
}

/* Body */

/* Heading */
header {
  display: flex;
  justify-content: flex-start;
}
header ul {
  display: flex;
}
header li {
  padding-right: 20px;
  list-style: none;
}

/* Number Display */
#topNumberWrapper {
  text-align: center;
  margin: 1rem 0;
}

/* Tab Button */
#tabButtonWrapper {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  transition: 0.5s;
}
#tabButtonWrapper:hover {opacity: 1}

.standardBtn {
  border-radius: 5px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  margin: 0 1rem;
  width: 110px;
  height: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.standardBtn:focus {
  outline: none;
}
.standardBtn:hover {
  border-radius: 10px;
}
.standardBtn:active {
  border-radius: 5px;
  transition: 0s;
}
.tabButton:hover {
  background: var(--secondary-color);
  width: 120px;
}
.tabButton:active {
  color: var(--secondary-color);
  transition: 0.05s;
}

/* Travel Tab */

/* Travel Subtab Buttons */
#travelTabButtonWrapper {
  
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  transition: 0.5s;
}
#travelTabButtonWrapper:hover {opacity:1}
#travelTabButtonWrapper button {
  height: 20px;
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}
.subtabButton:hover {
  width: 115px;
}
.subtabButton:active {
  color: --secondary-color;
  transition: 0.05s;
}

/* Travel Button */
#travelBtnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#travelBtnWrapper button {
  width: 80px;
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}
#travelBtnWrapper button:hover {
  width: 90px;
  transition: 0.1s;
}
#travelBtnWrapper button:active {
  width: 85px;
  transition: 0s;
}

/* Exploration Heading */                                                       
#explorationHeading {
  margin: auto;
  width: 20%;
  text-align: center;
}

/* Research Heading */
#industryHeading {
  margin: auto;
  width: 20%;
  text-align: center;
}

/* Research Heading */
#researchHeading {
  margin: auto;
  width: 20%;
  text-align: center;
}

/* Generators */
.generatorBtn {
  height: 22px;
  minwidth: 120px;
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}
.generatorBtn:hover {
  border-radius: 1rem;
  background: var(--secondary-color);
}
.generatorBtn:active {
  background: var(--secondary-color);
  transition: 0s;
}
.generatorContainer {
  margin: 1rem 6rem;
}

/* Stats */
.textWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.textWrapper ul {
  list-style: none;
}
.textWrapper li {
  text-align: center;
}

/* Settings */

/* Wrapper */
.settingsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.settingsWrapper button {
  height: 40px;
  transition: 1s;
  background-color: var(--background-color);
  border-color: var(--text-color);
  color: var(--text-color);
}
.settingsWrapper button:hover {
  border-radius: 7px;
  transition: 0.2s;
}
.settingsWrapper button:active {
  background: #DDD;
  transition: 0s;
}

/* Theme Selector */
#themeSelector {
  border: none;
  background: var(--background-color);
  color: var(--text-color);
  transition: 0.2s;
}
#themeSelector:focus {outline:none;}
#themeSelector option {
  font-style: italic;
}

/* Save Box */
#saveBoxWrapper {
  min-width: 20%;
  max-width: 50%;
  word-wrap: break-word;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--text-color);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.5s;
}
#saveBoxWrapper:hover {
  opacity: 1;
}
